<div class="outer-wrapper" id="top">
	<!-- HERO / INTRO -->
	<div class="intro intro1">
		<div class="container">
			<div class="row center-flex">
				<div class="col-md-7">
					<h2>In Obra conecta você às construtoras, montadoras, empreiteiras e indústrias de todo o Brasil.</h2>
					<a href="under-construction" class="btn btn-primary btn-lg">Baixe o aplicativo</a>
				</div>
				<div class="col-md-5">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/bKCAEiEUu1A?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- HERO END -->
	<!-- SERVICE -->
	<div class="services" id="Recursos">
		<div class="container">
			<div class="row">
				<div class="section-heading text-center col-sm-8 col-sm-offset-2 service-title">
					<h2><b>Conheça e aproveite nossos recursos</b></h2>
				</div>
				<div class="col-sm-6 service-item text-center">
					<img class="img-responsive" src="img/inobra/icons/mapa.png">
					<h3>Grande oferta de Vagas</h3>
					<p>Encontre vagas na sua área de atuação, de onde estiver e para onde desejar, em qualquer canto país.</p>
				</div>
				<div class="col-sm-6 service-item text-center">
					<img class="img-responsive" src="img/inobra/icons/megafone.png">
					<h3>Divulgação Profissional</h3>
					<p>Divulgue suas experiências profissionais e fique visível para novas propostas de trabalho.</p>
				</div>
				<div class="col-sm-6 service-item text-center">
					<img class="img-responsive" src="img/inobra/icons/mao.png">
					<h3>Avaliação Profissional</h3>
					<p>Destaque-se na obra e seja bem avaliado pelas empresas para futuros projetos.</p>
				</div>
				<div class="col-sm-6 service-item text-center">
					<img class="img-responsive" src="img/inobra/icons/busca.png">
					<h3>Filtros de Busca</h3>
					<p>Busque ofertas para sua especialidade de forma eficaz e com maior detalhamento.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- SERVICE END -->
	<!-- HERO -->
	<div class="intro intro4">
		<div class="container">
			<div class="row center-flex">
				<div class="col-md-6">
					<h2>Encontre as melhores vagas!</h2>
					<h6><b>Acesse a plataforma do seu computador, tablet ou smartphone.</b></h6>
					<a href="under-construction", class="btn btn-primary-blue btn-lg text-center">Cadastre-se agora</a>
				</div>
				<div class="col-md-6">
					<img src="img/inobra/bg/imagem3.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<!-- HERO END -->
</div>
