<!-- <div id="footer-home" ng-class="{open: $route.current.activeTab == 'empresa' || $route.current.activeTab == 'profissional' || $route.current.activeTab == 'quem-somos'}">
    <div class="row" id="footer-contato">
        <div class="container">
            <div class="row" id="contato">
                <div class="col-md-5">
                    <h1><b>In Obra</b></h1>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Para Empresas</a></li>
                        <li><a href="#">Para Profissionais</a></li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <h1><b>Contato</b></h1>
                    <form>
                        <p>Em caso de dúvidas, críticas ou sugestões, entre em contato conosco abaixo ou pelo e-mail <b>contato@inobra-app.com</b></p>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="nome" placeholder="Nome">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="email" placeholder="E-mail">
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="cidade" placeholder="Cidade">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="uf" placeholder="UF">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Mensagem" ng-model="mensagem"></textarea>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="btn btn-send"><b>Enviar</b></a>                                    
                            </div>
                        </div>
                    </form>
                </div>                    
            </div>
        </div>                
    </div>
    <div class="row" id="copyright">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">In Obra 2017</a></li>
                <li><a href="#">Termos de Serviço</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>                    
        </div>
    </div>                
</div> -->